header {
    background: #FFF5E8;
    flex: 100%;
    display: flex;
}

header img {
    object-fit: contain;
}

input {
    border-radius: 15px;
    border: 1px solid #000;
    background: #FFF;
    height: 25px;
    width: 200px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 200px;
}

nav ul {
    padding: 10px 20px;
    list-style-type: none;
    flex: 2;
    display: flex;
}

nav a, nav span {
    display: flex;
    padding: 0px 10px;
    align-items: center;
    gap: 2rem;
    flex-shrink: 0; 
}

